* {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
  box-sizing: border-box;
}
.top_bg {
  width: 100%;
  background: #fff;
  z-index: 500;
  border-bottom: 1px solid #ccc;
}
.top {
  height: 90px;
  width: 1200px;
  margin: auto;
  background: #fff;
}
.logo {
  margin-top: 26px;
  float: left;
}
.top ul {
  float: left;
  margin-left: 35px;
}
.top a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.top li {
  height: 90px;
  width: 80px;
  line-height: 90px;
  list-style: none;
  float: left;
  text-align: center;
}
.top a:hover li {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.ac {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.li_xuanzhong {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.top span {
  font-size: 16px;
  margin-left: 15px;
  float: left;
  display: inline-block;
  background-image: url(../img/phone.png);
  background-size: 20px 20px;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 20px;
  line-height: 90px;
}
.footer input {
  height: 35px;
  width: 212px;
}
.foot {
  width: 1200px;
  margin: auto;
}
.footer select {
  height: 35px;
}
.cebian {
  position: fixed;
  right: 60px;
  bottom: 210px;
}
.cebian .weixin {
  width: 60px;
  height: 60px;
  background-image: url("\.\./img/wechatcode.png");
  cursor: pointer;
}
.cebian .weixin img {
  display: none;
  position: relative;
  top: 0;
  left: -117px;
}
.cebian .weixin:hover img {
  display: block;
}
.cebian .kefu {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  background-image: url("\.\./img/lineserver.png");
}
.cebian .top1 {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  background-image: url(".\.\/img/backtop.png");
}
.cebian .top1:hover {
  background-image: url(".\.\/img/gotop.png");
}
.yuyue {
  margin: auto;
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background-color: red;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin-top: 20px;
}
.content_1 {
  text-align: center;
  margin-top: 90px;
  background-image: url("\.\./img/teach/teacher_banner.png");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  padding: 1px;
}
.con_3 ul {
  list-style: none;
  width: 100%;
  height: 100%;
  background: url(../img/tab3-bg.png);
  text-align: center;
  margin-top: 0px;
}
.main_contain {
  padding-top: 66px;
  width: 1000px;
  margin: 0px auto;
}
.main_contain .main_left {
  float: left;
  width: 170px;
  height: 160px;
}
.main_contain .main_left div {
  width: 170px;
  height: 40px;
  line-height: 40px;
  padding-left: 63px;
  margin-bottom: 10px;
}
.main_contain .main_left div:nth-child(1) {
  background-image: url(../img/class/star.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}
.main_contain .main_left div:nth-child(1):hover {
  background: url(../img/class/star1.png) no-repeat left center;
}
.main_contain .main_left div:nth-child(2) {
  background-image: url(../img/class/tip.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}
.main_contain .main_left div:nth-child(2):hover {
  background: url(../img/class/tip1.png) no-repeat left center;
}
.main_contain .main_left div:nth-child(3) {
  background-image: url(../img/class/screen.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}
.main_contain .main_left div:nth-child(3):hover {
  background: url(../img/class/screen1.png) no-repeat left center;
}
.main_contain .main_left div:nth-child(4) {
  background-image: url(../img/class/doctor.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}
.main_contain .main_left div:nth-child(4):hover {
  background: url(../img/class/doctor1.png) no-repeat left center;
}
.main_contain .main_center {
  float: left;
  width: 600px;
  height: 128px;
  margin-left: 20px;
}
.main_contain .main_center img {
  margin-right: 10px;
}
.main_contain .main_center div {
  display: inline-block;
}
.main_contain .main_center div h1 {
  font-size: 20px;
  color: #333;
  font-weight: 300;
}
.main_contain .main_center div p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
.main_contain .main_right {
  float: left;
  width: 200px;
  height: 400px;
}
.main_contain .main_right ul {
  list-style: none;
}
.main_contain .main_right ul li {
  width: 200px;
  height: 20px;
  color: #666;
  font-size: 14px;
}
.main_contain .main_right ul li:nth-child(1) {
  border-left: 3px solid #FF5F68;
  width: 360px;
  height: 34px;
  color: black;
  font-size: 22px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.main_contain .page {
  width: 500px;
  margin: 0px auto;
}
.main_contain .page ul {
  font-size: 14px;
  list-style: none;
}
.main_contain .page ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border: 1px solid #ddd;
  color: #337AB7;
}
.main_contain .page ul li:hover {
  background: #ccc;
}
#center_1,
#center_2,
#center_3,
#center_4 {
  position: absolute;
  display: none;
}
