* {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
  box-sizing: border-box;
}
.section {
  overflow: hidden;
}
.top_bg {
  width: 100%;
  background: #fff;
  z-index: 500;
  border-bottom: 1px solid #ccc;
}
.top {
  height: 90px;
  width: 1200px;
  margin: auto;
  background: #fff;
}
.logo {
  margin-top: 26px;
  float: left;
}
.top ul {
  float: left;
  margin-left: 35px;
}
.top a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.top li {
  height: 90px;
  width: 80px;
  line-height: 90px;
  list-style: none;
  float: left;
  text-align: center;
  white-space: nowrap;
}
.top a:hover li {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.ac {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.li_xuanzhong {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  margin-bottom: 0px;
  color: red;
}
.top span {
  font-size: 16px;
  margin-left: 15px;
  float: left;
  display: inline-block;
  background-image: url(../img/phone.png);
  background-size: 20px 20px;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 20px;
  line-height: 90px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer input {
  height: 35px;
  width: 212px;
}
.foot {
  line-height: 60px;
  width: 1200px;
  margin: auto;
}
.footer select {
  height: 35px;
}
.cebian {
  position: fixed;
  right: 60px;
  bottom: 210px;
}
.cebian .weixin {
  width: 60px;
  height: 60px;
  background-image: url("\.\./img/wechatcode.png");
  cursor: pointer;
}
.cebian .weixin img {
  display: none;
  position: relative;
  top: 0;
  left: -117px;
}
.cebian .weixin:hover img {
  display: block;
}
.cebian .kefu {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  background-image: url("\.\./img/lineserver.png");
}
.cebian .top1 {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  background-image: url(".\.\/img/backtop.png");
}
.cebian .top1:hover {
  background-image: url(".\.\/img/gotop.png");
}
.yuyue {
  margin: auto;
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background-color: red;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin-top: 20px;
}
.content_1 {
  text-align: center;
  margin-top: 90px;
  width: 100%;
  height: 400px;
  padding: 1px;
}
.con_2 {
  padding-top: 25px;
  width: 1200px;
  text-align: center;
  margin: auto;
}
.con_2 p:first-child {
  font-size: 30px;
}
.con_2 p:first-child span {
  font-size: 36px;
  color: red;
}
.con_2 p:nth-child(2) {
  margin-top: 15px;
  font-size: 16px ;
  color: #999999;
}
.ul_1 {
  width: 1065px;
  margin: auto;
  margin-top: 58px;
}
.ul_1 li {
  list-style: none;
  float: left;
  width: 260px;
  height: 322px;
  background-image: url(../img/teach/teach_change1.png);
  background-repeat: no-repeat;
  text-align: center;
  font-size: 16px;
  background-position: center 0px;
}
.ul_1 li:nth-child(2) {
  background-image: url(../img/teach/teach_change2.png);
}
.ul_1 li:nth-child(3) {
  background-image: url(../img/teach/teach_change3.png);
}
.ul_1 li:nth-child(1):hover {
  background-image: url(../img/teach/teach_change11.png);
}
.ul_1 li:nth-child(2):hover {
  background-image: url(../img/teach/teach_change22.png);
}
.ul_1 li:nth-child(3):hover {
  background-image: url(../img/teach/teach_change33.png);
}
.ul_1 li:nth-child(2) {
  margin: auto 138px;
}
.ul_1 span {
  display: block;
  margin-top: 320px;
}
.ul_2 {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}
.ul_2 li {
  list-style: none;
  float: left;
  width: 365px;
  font-size: 16px;
  text-align: center;
  color: #666666;
  margin: auto 15px;
}
.contex_3_1 {
  width: 1200px;
  margin: auto;
}
.contex_3_1 ul {
  margin: auto;
}
.contex_3_1 li {
  list-style: none;
  float: left;
  width: 184px;
}
.contex_3_1 li p {
  padding-top: 0px ;
  color: #FDB62B;
  text-align: center;
}
.contex_3_1 li div {
  text-align: left;
  font-size: 14px;
  color: #fff;
  padding: 30px 20px;
  width: 170px;
  height: 190px;
  background-color: #FDB62B;
  margin: auto;
}
@keyframes kk {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}
.con_3 ul li:hover {
  animation: kk 0.5s;
}
.pic1 img:hover {
  width: 200px;
  transition: all 0.5s;
}
.pic2 img:hover {
  width: 130px;
  transition: all 0.5s;
}
.pic3 img:hover {
  width: 262px;
  transition: all 0.5s;
}
.pic4 img:hover {
  width: 155px;
  transition: all 0.5s;
}
.pic5 img:hover {
  width: 180px;
  transition: all 0.5s;
}
.con_3 {
  background: url(../img/tab3-bg.png);
  background-size: 100% 100%;
}
.con_3 ul {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0px;
}
.con_3 li {
  background-size: 100% ;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  color: white;
  line-height: 63px;
}
.con_3 p {
  padding-top: 23px;
  padding-bottom: 14px;
  font-size: 34px;
}
